#block {
  margin: 5% 10% 0 10% !important;
}

.row {
  height:700px; /*set height*/
  width:100%;
  margin-bottom: 3%;
  padding: 2.5%;
}

.introCol {
  width:50%;
  float:left;
  height:100%;
}


#introCol {
  box-sizing: border-box;
  display: inline-block;
  padding: 3%;
  text-align: left;
  width: 50%;
  white-space: normal
}

#footer {
  position: fixed !important;
  width: 100%;
  height: 8%;
  bottom: 0px;
  padding-left: 11%;
  padding-top: 1.5%;
  padding-bottom: 2%;
  padding-right: 11%;
  background-color: #265080;
}

.footerContent {
  width:49%;
  float:left;
  font-size: 18px;
  font-weight: normal;
  color: #FFFFFF;
}

.buttonToViewProject {
  bottom: 15px !important;
  font-size: 20px;
  color: #265080 !important;
  border-radius: 20px !important;
  background-color: white !important;
}

.footerRight {
  text-align: right;
}

#headerContent{
  font-size: 50px;
  font-weight: bolder;
  margin: 5% 0% 0% 0%;
  line-height: 50px;
  color: #265080;
}

#contentIntro{
  color: black;
  font-size: 25px;
  padding: 2.5%;
  line-height: 35px;
}

#contentFetures{
  color: black;
  font-size: 20px;
  padding: 5%;
  line-height: 25px;
}

.featuresBlock {
  position: relative;
  height:800px  !important; /*set height*/
  width:100%;
  margin-bottom: 3%;
  padding:1.8%;
  background-color: #f4f5f9;
}

.featuresRow {
  box-sizing: border-box;
  height: 30% !important; /*set height*/
  width:100%;
  margin-bottom:4%;
  float: left;
  padding-left: 9%;
  padding-right: 9%;
}


.featuresCol{
  width: 25%;
  float: left;
  height: 100%;
}

#featuresCol {
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  margin: 1.5% 0 0 0 !important;
  text-align: center;
  white-space: normal
}

.featuresHeader {
  margin: 1.5% 0 1.5% 10% !important;
  color: #265080;
}

.imgFeaturers {
  height: 50%;
  width: 50%;
}

.imgQuote {
  height: 10%;
  width: 10%;
  margin-bottom: 5%;
}

p.quote{
  font-size: 25px;
  color: #265080;
  text-align: center;
  margin-bottom: 3.5%;
  white-space: normal;
  line-height: 35px;
}

p.quote-footer {
  font-size: 13px;
  color: #265080;
  text-align: center;
  white-space: normal;
}