#ProjectDetail-bg{
    max-width: 80%;
    margin: 2% 0 0 10%;    
}
#TitleName{
    text-align: center;
}
#TitleName_eg{
    font-size: 1.1em;
    color: #265080;
}
#TitleName_th{
    font-size: 0.7em;
    color: #6F6F6F;
}
#imgCover{
    text-align: center;
    margin: 2% 0 0 0;
}
#body-project{
    margin: 4% 0 0 0;
}
#Details,#Acheivement,#Authors,#tool,#Documents,#Tag,#References,#video{
    margin: 5% 0 0 0; 
    border-radius: 5px;
}

/* #video{
    margin: 5% 0 0 0;
    text-align: center;
} */
#cardHeader{
    background:#F9F9F9;
    color: #265080;
}
#content{
    border-color: transparent;
    background-color: white;
    color: #6F6F6F;
    font-size: 0.85em;
    margin: 0.5% 0 0 0 ;
}
/* ___Authors__ */
#student_name{
    font-size: 0.85em;
}
#mail{
    font-size: 0.7em;
    color: #6F6F6F;
}
#student_id{
    font-size: 0.85em;
}
/* _____ */
#tool{
    font-size: 0.85em;
}
/* #Acheivement{
    font-size: 0.85em;
} */
#carousel{
    margin: 5% 0 0 0;
}
#img {
    width: 30%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}
#container {
    padding: 0 60px;
  }
  
  .VueCarousel-slide {
    position: relative;
    background: #42b983;
    color: #fff;
    font-family: Arial;
    font-size: 24px;
    text-align: center;
    min-height: 100px;
  }
  
  /* .label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

  #Edit{
    background:#265080;
    color: #F9F9F9 ;
    height: 40px;
    border: none; 
  }
  #save{
    width: 120px;
    margin-right: 2%;
    height: 40px;
    border: none;
  }
  #cancel{
    width: 120px;
    color: #F9F9F9 ; 
    background:#FF0000;
    height: 40px;
    border: none;
  }
  #tool_box{
    background-color: white;
    border: none;
  }
