
#profile-bg{
  height:150px;
  background-color: #F7F7F7;
  position:relative;
  z-index: -1;
  margin: 2% 0 0 0;
}
#profile{ 
  background-color: #F7F7F7;
  height: 140px;
  width: 80%;
  margin: -10% 0 0 10%;
}
#img{
  width: 100px;
  margin: -5px 0 0 25%;
}
#name{
  margin-top: -5px;
  font-size: 20px;
  color: #265080;
}
#info{
  color:#949494;
  font-size: 10px;
}
#internship{
  color:#949494;
  margin-top: 20px;
  font-size: 13px;
}
#body{
  width: 80%;
  margin: -5% 0 0 10%;
}
#head-table{
  width: 120%;
  border-radius: 5px;
  height: 35px;  
  margin: 10% 0 0 -10%;
}
#th{
  border: 0.5px solid #ECECEC; 
  height:100%; 
  background:#F7F7F7;
  border-radius: 0px;
  font-size: 13px;
}
#tb{
  border: 0.7px solid #ECECEC;
  height:100%; 
  background:#F7F7F7;
  border-radius: 0px;
  font-size: 13px;
}
#te{
  border: 0.7px solid #ECECEC;
  height:100%; 
  background:#F7F7F7;
  border-radius: 0px;
  font-size: 13px;

}



