.navProfile{
  background-color: #F7F7F7;
}
.picture{
  margin-right: -7%;
  margin-left: -2%;
}
.title, .heading{
  color: #265080;
}
svg{
  width: 60%
}
#information{
  margin-right: -100px
}

@media screen and (max-width: 800px){
  #information{
    margin-right: 0px
  }
}


#bodyBg{
  margin: 3% 10% 0 10% !important;
}
#profile-bg{
  height:150px;
  background-color: #F7F7F7;
  position:relative;
  z-index: -1;
  margin: 2% 0 0 0;
}
#profile{ 
  /* background-color: #F7F7F7; */
  height: 180px;
  width: 80%;
  margin: -10% 0 0 10%;
}
#img{
  width: 105px !important;
  margin: 0 -10% 0 25% !important;
}
#name{
  margin-top: -5px;
  font-size: 22px;
  color: #265080;
}
#info{
  color:#949494;
  font-size: 14px;
}
#body{
  width: 80%;
  margin: -5% 0 0 10%;
}
#head-table{
  width: 120%;
  border-radius: 5px;
  height: 35px;  
  margin: 10% 0 0 -10%;
}
#th{
  border: 0.5px solid #ECECEC; 
  height:100%; 
  background:#F7F7F7;
  border-radius: 0px;
  font-size: 13px;
}
#tb{
  border: 0.7px solid #ECECEC;
  height:100%; 
  background:#F7F7F7;
  border-radius: 0px;
  font-size: 13px;
}
#te{
  border: 0.7px solid #ECECEC;
  height:100%; 
  background:#F7F7F7;
  border-radius: 0px;
  font-size: 13px;

}



/* card */
.card-image{
  padding: 3px 3px 3px 3px;
}
.card{
  border-radius: 2%;
}
img{
  border-radius: 2%
}
.card-content {
  padding: 8px;
}
.projectName{
  font-size: 18px;
  margin-bottom: -2px !important;
  color: #265080
}
.projectDetail{
  font-size: 14px;
}
.createPortPage{
  width:100%;
  height:100%;
  border:1px dashed #E4E4E4;
  text-align:center;
  border-radius: 2%;
  padding-top: 25%;
  padding-bottom: 25%
}
.createPortPage:hover{
  background-color: #F7F7F7;
  cursor: pointer;
}
.la-plus:before{
  color:#E4E4E4;
  font-size: 50px;
}
.textCreate{
  color:#949494;
  /* font-size: 14px; */
}


/* responsive */
/* .navbar-item {
  color: white !important;
} */
.active{
  background-color: #265080;
}
.act{
  color: white;
}
.borderLeft{
  border-left: 1px solid #E5E5E5;
}
@media screen and (max-width: 500px){
  .navProfile{
    text-align: center !important;
  }
  #img{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .borderLeft{
    border-left: 0px solid rgba(255, 255, 255, 0);
  }
  .is-1{
    padding: 0px;
  }
  .field{
    margin-bottom: 0px !important;
  }
}