.navProfile{
  background-color: #F7F7F7 !important;
}
.picture{
  margin-right: -7% !important;
  margin-left: -2% !important;
}
.title, .heading{
  color: #265080 !important;
}
svg{
  width: 60% !important
}
#information{
  margin-right: -100px !important
}

@media screen and (max-width: 800px){
  #information{
    margin-right: 0px !important
  }
}


#bodyBg{
  margin: 3% 10% 0 10% !important;
}
#profile-bg{
  height:150px !important;
  background-color: #F7F7F7 !important;
  position:relative !important;
  z-index: -1 !important;
  margin: 2% 0 0 0 !important;
}
#profile{ 
  /* background-color: #F7F7F7; */
  height: 180px !important;
  width: 80% !important;
  margin: -10% 0 0 10% !important;
}
#img{
  width: 105px !important;
  margin: 0 -10% 0 25% !important;
}
#name{
  margin-top: -5px !important;
  font-size: 22px !important;
  color: #265080 !important;
}
#info{
  color:#949494 !important;
  font-size: 14px !important;
}
#body{
  width: 80% !important;
  margin: -5% 0 0 10% !important;
}
#head-table{
  width: 120% !important;
  border-radius: 5px !important;
  height: 35px !important;  
  margin: 10% 0 0 -10% !important;
}
#th{
  border: 0.5px solid #ECECEC !important; 
  height:100% !important; 
  background:#F7F7F7 !important;
  border-radius: 0px !important;
  font-size: 13px !important;
}
#tb{
  border: 0.7px solid #ECECEC !important;
  height:100% !important; 
  background:#F7F7F7 !important;
  border-radius: 0px !important;
  font-size: 13px !important;
}
#te{
  border: 0.7px solid #ECECEC !important;
  height:100% !important; 
  background:#F7F7F7 !important;
  border-radius: 0px !important;
  font-size: 13px !important;

}



/* card */
.card-image{
  padding: 3px 3px 3px 3px !important;
}
.card{
  border-radius: 2% !important;
}
img{
  border-radius: 2% !important
}
.projectInfo{
  padding: 8px !important;
}
.projectName{
  font-size: 18px !important;
  margin-bottom: -2px !important;
  color: #265080 !important
}
.projectDetail{
  font-size: 14px !important;
}
.createPortPage{
  width:100% !important;
  height:100% !important;
  border:1px dashed #E4E4E4 !important;
  text-align:center !important;
  border-radius: 2% !important;
  padding-top: 25% !important;
  padding-bottom: 25% !important;
}
.createPortPage:hover{
  background-color: #F7F7F7 !important;
  cursor: pointer !important;
}
.la-plus:before{
  color:#E4E4E4 !important;
  font-size: 50px !important;
}
.textCreate{
  color:#949494;
}


/* responsive */
.active{
  background-color: #265080 !important;
}
.act{
  color: white !important;
}
.borderLeft{
  border-left: 1px solid #E5E5E5 !important;
}
@media screen and (max-width: 500px){
  .navProfile{
    text-align: center !important;
  }
  #img{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .borderLeft{
    border-left: 0px solid rgba(255, 255, 255, 0) !important;
  }
  .is-1{
    padding: 0px !important;
  }
  .field{
    margin-bottom: 0px !important;
  }
}