.selectInSearch{
    background: transparent !important;
    color: #265080 !important;
    font-size: 14px !important;
}
   
.selectInSearch:focus{
    border-color: none !important;
    box-shadow: none !important;
}
/* .img-text {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: rgba(255, 255, 255, .9);
    border-top-left-radius: .3em;
    border-bottom-right-radius: .3em;
    color: white;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.3s linear;
    transition: visibility 0s, opacity 0.3s linear;
} */
.img-text {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: rgba(255, 255, 255, .9);
    border-top-left-radius: .3em;
    border-bottom-right-radius: .3em;
    color: white;
    padding: 4px 9px;
    visibility: visible;
    opacity: 1;
    max-width: 80%;
}

/* .content_img:hover .img-text {
    padding: 8px 15px;
    visibility: visible;
    opacity: 1;
    max-width: 80%;
} */
.image:hover{
    background-color: Black;
    border-radius: .5em;
}
.image img:hover{
    opacity: 0.8;
}

.countText{
    margin-right:3px;
    color:#265080;
    font-weight: 600;
    font-size: 12px
}
